# dependencies
**/node_modules/

# build
**/dist/
**/build/

# env
**/.env

# logs
**/*.log

# prisma engines/cache
**/.prisma/
**/prisma/.cache/

# OS / editor
.DS_Store
.vscode/

api/src/generated/
