# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env
.env
.env.*

# Prisma
api/node_modules/.prisma/
api/prisma/dev.db

# Build
dist/
build/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
